:root {
    --bg-dark: #121212;         
    --sidebar-green: #1db954;   
    --accent-light: #b9ff66;    
    --text-main: #ffffff;
    --text-dim: #b3b3b3;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('https://w0.peakpx.com/wallpaper/920/587/HD-wallpaper-whatsapp-app-fondo-sms-verde-wall-whatsapp.jpg');
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 40px 100px rgba(0,0,0,0.6);
}
.sidebar {
    width: 300px;
    background-image: url('https://i.pinimg.com/736x/58/c3/33/58c33377dfcbb3022493dec49d098b02.jpg');
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%); 
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.4s ease;
}

.sidebar:hover {
    backdrop-filter: blur(25px) saturate(180%); 
    box-shadow: 10px 0 30px rgba(85, 107, 111, 0.76);
}

.logo { 
    padding: 0 20px; 
    margin-bottom: 30px; 
    color: #ffffff; 
    font-size: 24px;
    font-weight: 800;
}

.playlist-header {
    padding: 0 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--text-dim);
    margin-bottom: 15px;
}

#song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#song-list li {
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 10px;
    color: rgba(239, 225, 225, 0.7);
    font-weight: 500;
}

#song-list li:hover { 

    color: white;
}
#song-list li.active {
    color: #000000;             
    background: var(--accent-light); 
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.player-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    width: 400px;
}

.img-container img {
    width: 280px;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 20px 40px rgba(14, 13, 13, 0.6);
}

.song-details h1 { 
    margin: 25px 0 5px; 
    font-size: 28px;
 }
.song-details p { color: var(--text-dim);
     font-size: 18px; 
     margin-bottom: 30px; 
    }
.progress-container {
    background: #3e3e3e;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.progress {
    background: var(--accent);
    height: 100%;
    width: 0%;
    border-radius: 10px;
}

.time-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 8px;
    color: white;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.play-btn {
    background: rgb(228, 208, 208);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

.play-btn:hover { transform: scale(1.1); }

.ctrl-btn {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
}

.volume-section { margin-top: 30px; }
#volume { accent-color: var(--accent); width: 150px; }